<navbar></navbar>

<div class="container pt-100">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a
        href="#"
        class="list-group-item list-group-item-action"
        (click)="onChange()"
         > 
        All Categories
      </a>

        <a 
           href="#"
          *ngFor="let category of categories"
          class="list-group-item list-group-item-action"
          (click)="onChange(category)"
          [class.active]="selectedCategory==category"
        >
          {{ category.categoryName }}
         </a>
        
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">
        <ng-container *ngFor="let product of products">
          <div class="col-md-4">
            <div class="card mb-3">
              <img
                [src]="product.imageUrl"
                class="card-img-top"
                alt="{{ product.productName }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text">
                  --{{ product.quantityPerUnit }} -- {{ product.unitPrice }} --
                  {{ product.unitsInStock }}
                </p>
              </div>
              <div class="card-footer text-center">
                <a href="#" class="btn btn-primary">AddToCard</a>
              </div>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
</div>
