<div class="container pt-100">
  <div class="row">
    <div class="col-md-3">
      <category-list (category)="getCategory($event)"></category-list>
    </div>

    <div class="col-md-9">
    <product-list [products]="products"></product-list>
  
  </div>

    <div class="row text-center">
      <div class="example-button-container ppadding-bt">
        <button [disabled]="selectedPage == 1" (click)="changePage(selectedPage - 1)" mat-mini-fab>
          <mat-icon class="bt">arrow_left</mat-icon>
        </button>

        <button *ngFor="let page of pageNumbers" mat-mini-fab class="bs" (click)="changePage(page)"
          [class.active]="page == selectedPage">
          {{ page }}
        </button>

        <button [disabled]="selectedPage == pageNumbers.length" (click)="changePage(selectedPage + 1)" mat-mini-fab>
          <mat-icon class="bt">arrow_right</mat-icon>
        </button>
      </div>
    </div>
  </div>
</div>
