
<div class="container pt-100">
  <div class="row">
    <div class="col-md-3">
      <div class="list-group">
        <a
         
          class="list-group-item list-group-item-action"
          (click)="onChange()"
        >
          All Categories
        </a>
        <a
         
          *ngFor="let category of categories"
          class="list-group-item list-group-item-action"
          (click)="onChange(category)"
          [class.active]="selectedCategory == category"
        >
          {{ category.categoryName }}
        </a>
      </div>
    </div>

    <div class="col-md-9">
      <div class="row">

        <ng-container *ngFor="let product of products">

          <div class="col-md-4">
            <div class="card mb-3 mh">
              <img
                [src]="product.imageUrl"
                class="card-img-top"
                alt="{{ product.productName }}"
              />
              <div class="card-body">
                <h5 class="card-title">{{ product.productName }}</h5>
                <p class="card-text">
                  --{{ product.quantityPerUnit }} -- {{ product.unitPrice }} --
                  {{ product.unitsInStock }}
                </p>
              </div>
              <div class="card-footer text-center">
                <a class="btn btn-color" (click)="addToCart(product)">AddToCard</a>
              </div>
            </div>
          </div>

        </ng-container>
      </div>

      <div class="row text-center">
        <div class="example-button-container ppadding-bt">
          <button
            [disabled]="selectedPage == 1"
            (click)="changePage(selectedPage - 1)"
            mat-mini-fab
          >
            <mat-icon class="bt">arrow_left</mat-icon>
          </button>

          <button
            *ngFor="let page of pageNumbers"
            mat-mini-fab class="bs"
            (click)="changePage(page)"
            [class.active]="page == selectedPage"
          >
           {{ page }}
          </button>

          <button
            [disabled]="selectedPage == pageNumbers.length"
            (click)="changePage(selectedPage + 1)"
            mat-mini-fab
          >
            <mat-icon class="bt">arrow_right</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
