<nav class="navbar navbar-expand-lg navbar-dark bg-marvel">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">MarvelShop</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <!-- <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#"> <mat-icon>home</mat-icon></a>
        </li> -->

        <li class="nav-item">
          <a class="nav-link" href="#">Poduct</a>
        </li>
        
      </ul>

      <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="#"><mat-icon> favorite </mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><mat-icon> notifications_active </mat-icon></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><mat-icon>add_shopping_cart </mat-icon> </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><mat-icon>person </mat-icon></a>
        </li>
      </ul>
    </div>
  </div>
</nav>
