/* .bg-primary{
    --bs-bg-opacity: 1;
    --bs-primary-rgb:
    background-color: rgba(var(--bs-primary-rgb),var(--bs-bg-opacity))!important;

} */
.bg-marvel{
    background-color:rgba(103, 58, 183)!important;
}